/*  pallete
    #F88F01
    #E27802
    #6A492B
    #58391C
*/
.slider-frame{
    overflow: hidden;
    height: 500px;
    width: 70%;
    margin:10px auto ;
}
/*****************Slide animation**********************/
@-webkit-keyframes slide-animation{
    0% {bottom: 0px;}
    10% {bottom: 0px;}
    20% {bottom: calc(500px);}
    30% {bottom: calc(500px);}
    40% {bottom: calc(1000px);}
    50% {bottom: calc(1000px);}
    60% {bottom: calc(1500px);}
    70% {bottom: calc(1500px);}
    80% {bottom: calc(1000px);}
    90% {bottom: calc(500px);}
    100% {bottom: 0px;}
}
.slide-images{
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    -webkit-animation-name: slide-animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.img-container{
    position: relative;
    float: centre;
}
div.slide-images:hover{
    -webkit-animation-play-state: paused;
}
/*************************end animation*****************************/
@media only screen and (max-width: 600px){
    div.slider-frame{
        display: none;
    }
}