
/*  pallete
    #F88F01
    #E27802
    #6A492B
    #58391C
*/
.ppt{
    border: solid #E27802;
}
div.card{
    background-color: inherit;
}
div.card-header{
    background-color: #fce9d7;
    width: 100%;
}
div.card-header > h1{
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #58391C;
}
@media only screen and (max-width: 600px){
    img:not([alt='LOGO']){
        height: 200px;
        width: 200px;
    }
}