.info{
    border: solid #58391C;
    padding: 50px 10px;

}
div.info ul li{
    color: #58391C;
    background-color: #fce9d7;
    margin-bottom: 15px;
}
div.info ul li:hover{
    background-color: #F88F01;
    font-weight: bolder;
}
table th{
    color: #58391C;
    text-align: center;
}
table td{
    text-align: centre;
}

ul#switch button.btn{
    border: solid #F88F01 1px;
    margin-left: 5px;
    color: #58391C;
}
ul#switch button.btn:hover{
    background-color: #F88F01;
    font-weight: bolder;
}