/*  pallete
    #F88F01
    #E27802
    #6A492B
    #58391C
*/
.footer{
    position: relative;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: #6A492B;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer a{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.footer a:hover{
    color: #E27802;
}